/* CAROUSEL */
.slide-show {
  position: relative;
  margin-top: 52px;
}
.text-carousel-mobile{
  display: none;
}
.text-carousel,
.text-carousel-mobile {
  position: absolute;
  top: 0;
  width: 70vw;
  height: 66vh;
  z-index: 0;
  background-image: linear-gradient(
    90deg,
    rgba(86, 13, 0, 0.8) 25.94%,
    rgba(24, 25, 31, 0) 100%,
    rgba(86, 13, 0, 0) 100%
  );
  color: #fff;
  /* line-height: 15px; */
}

.text-carousel .title{
  font-size: 32px;
  font-weight: 500;
  margin-top: 60px !important;
  margin-bottom: 15px !important;
  margin-left: 80px !important;
  color: #fff;
}
.text-carousel-mobile .title {
  color: #fff;
  font-size: 28px;
  margin-left: 15px !important;
  font-weight: 500;
}
.text-carousel p {
  margin-bottom: 0 !important;
  margin-left: 80px !important;
  font-weight: 400;
  color: #fff;
}
.text-carousel-mobile p{
  font-weight: 400;
  color: #fff;
  margin-bottom: 0 !important;
  margin-left: 15px !important;
}
.text-carousel .content , .text-carousel-mobile .content {
  margin-bottom: 15px;
}
.btn-play {
  background-color: transparent;
  color: #fff;
  height: 48px;
  width: 161px;
  border: 1px solid #fff;
  font-size: 15px;
}
.play-now {
  margin-left: 80px;
  margin-top: 20px;
}
.text-carousel-mobile .play-now{
  margin-left: 15px;
  margin-bottom: 15px;
}
.btns-download {
  margin-left: 80px;
}
.btn-download {
  border-radius: 7px;
  background-color: #fff;
  width: 140px;
  height: 45px;
  margin-left: 20px;
  margin-top: 20px;
}
.btn-download .text-download {
  color: #000;
  font-size: 12px;
  margin: 0 !important;
}
.btn-download .text-store {
  margin: 0 !important;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
/* CONTENT */
.container-fluid {
  margin-top: 90px;
}
.text-carousel {
  display: block;
}
@media (max-width: 426px) {
  .text-carousel {
    display: none;
  }
  .text-carousel-mobile {
    display: block;
  }
}
